<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Seller's Dashboard</title>
    </head>
    
    <body>
    	<h1>Seller's Dashboard</h1>
        
        <form action="/see_my_inventory" method="POST">    
            <input type="submit" value="See My Inventory" class="see-button">
        </form>

        <form action="/add_product_sell" method="POST">    
            <input type="submit" value="Add New Product" class="add-button">
        </form>

         <form action="/delete_product_page" method="POST">    
            <input type="submit" value="Delete Product" class="delete-button">
        </form>


        <form action="/add_new_coupon_page" method="POST">    
            <input type="submit" value="Add Coupon" class="add-button">
        </form>

        <form action="/delete_coupon" method="POST">    
            <input type="submit" value="Delete Coupon" class="delete-button">
        </form>

        <form action="/delete_coupon_from_products_page" method="POST">    
            <input type="submit" value="Delete Coupon From Products" class="delete-button">
        </form>

        <p><a href="/logout">Log out</a></p>

        
    </body>
    
</html>